@charset "utf-8"

$divider-background-color: $grey-light !default
$divider-font-size: $size-7 !default
$divider-margin-inner-size: 10px !default
$divider-margin-size: 25px !default

.divider
    position: relative
    display: flex
    align-items: center
    text-transform: uppercase
    color: $grey
    font-size: $divider-font-size
    font-weight: $weight-semibold
    letter-spacing: .5px
    margin: $divider-margin-size 0

    &::after,
    &::before
        content: ''
        display: block
        flex: 1
        height: 1px
        background-color: $divider-background-color

    &::after
        margin-left: $divider-margin-inner-size

    &::before
        margin-right: $divider-margin-inner-size

    &.is-vertical
        flex-direction: column
        margin: 0 $divider-margin-size

        &::after,
        &::before
            height: auto
            width: 1px

        &::after
            margin-left: 0
            margin-top: $divider-margin-inner-size

        &::before
            margin-right: 0
            margin-bottom: $divider-margin-inner-size